numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tqdm
ipykernel
jupyterlab
requests
pillow
openpyxl


# additional requirements for GAOT
torch
toml
omegaconf
xarray
rotary-embedding-torch
torch-geometric